*{
  margin: 0;
	padding: 0;
  outline: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-chat{
  width: 100%;
  height: calc(100vh - 4.2em);
  border: 0;
  margin-top: 4em;
  background-image: url(https://web.whatsapp.com/img/bg-chat-tile-light_04fcacde539c58cca6745483d4858c52.png);
}

#user-name{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #005e54;
  height: 2em;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.container-chat #chat-text{
  height: calc(100% - 4em);
  display: flex;
  overflow-y: auto;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  flex-direction: column;
  background-color: #e5ddd5f0;
}

.container-chat .input-text{
  height: 4em;
  width: 100%;
  display: flex;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  background: white;
}

.container-chat .input-text #inp-message{
  padding: 1em;
  flex: 1;
  border-radius: 0;
  border: none;
  background: transparent;
  font-size: 1em;
}

.container-chat .input-text #btn-enviar{
  background: transparent;
  border: none;
  border-radius: 0;
  width: 3em;
  padding: 0.5em;
}

.container-chat .input-text #btn-enviar:hover{
  cursor: pointer;
  background: #f5f3f3;
}

.container-chat #chat-text div.message{
  padding: 1em;
  position: relative;
  display: flex;
}

.container-chat #chat-text div.message span{
  max-width: 80%;
  min-width: 20%;
  background: white;
  border-radius: 7.5px;
  padding: 1em;
  position: relative;
}

.container-chat #chat-text div.message span b{
  position: absolute;
  top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;  
  text-transform: capitalize;
}


.container-chat #chat-text div.m-user span{
  border-top-left-radius: 0;
  padding-top: 2em;
}

.container-chat #chat-text div.m-user span b{
  left: 1em;
}

.container-chat #chat-text div.m-contact{
  flex-flow: row-reverse;
}

.container-chat #chat-text div.m-contact span{
  border-top-right-radius: 0;
  background: #e1ffc7;
}

.container-chat #chat-text div.m-contact span b{
  right: 1em  ;
}

.container-chat #chat-text div.m-contact div.pestania{
  transform: rotate(90deg) !important;
  border-left: 5px solid #e1ffc7;
  border-bottom: 5px solid #e1ffc7;
}

.pestania{
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(180deg);
}